body{
    margin: 0;
    padding: 0;
    background: url(./images/bg.png);
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 100vh;
}
.searchSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;
}
.randomFlex{
    display: flex;
    flex-direction: row;
}